*.iml
.gradle
/local.properties
/.idea
/.idea/libraries
.DS_Store
/build
/captures


OpenCV-android-sdk/
opencv_demo_1/
/openCVLibrary310/src
/openCVLibrary310/build
openCVLibrary310/openCVLibrary310.iml
OpenCV-android-sdk/

